// sass --watch scss/main.scss public/main.css

$origBlue: #385f8a;
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    color: #333;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.618;

    .mono {
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: larger;
    }

    form {
        label,
        input {
            display: block;
            font-size: 16px;
            width: 150px;
            float: left;
            margin-bottom: 10px;
            height: 20px;
        }

        label {
            text-align: right;
            width: 75px;
            padding-right: 20px;
        }
        #submit {
            background: $origBlue;
            color: white;
            height:30px;
            margin: 0 0 30px 0;
        }
    }

    br {
        clear: both;
    }

}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    line-height: 1;
    color: rgba(9, 70, 101, 0.9);
}

.lib_warning_alert {
    background-color: #ffcccc;
    border-color: #cc3333;
    border-style: dotted;
    border-width: 1px;
    padding: 0.5em;
    width: 40em;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: #005c96;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

#footer {
    padding: 10px 20px;
    font-size: 12px;
    text-align: left;
    @media  screen and (max-width: 600px) {
        background:$origBlue;
        color:white;
        a{color:white;}
    }
}

.head {
    background: $origBlue;
    height: 110px;
    border-top: 4px solid #052c41;

    .unit {
        float: left;
        padding: 0 3% 0 3%;
    }

    .logo-short {
        background: url("dpu-logo-short.png") no-repeat;
        padding: 0.3em 0.3em 0.4em 0.3em;
        width: 190px;
        height: 45px;
        border-right: 2px solid #fff;
    }

    a.site-title-long {
        color: #fff !important;
        font-size: 200%;
        padding-top: 0.15em;
        padding-left: 22px;
        text-decoration: none;
    }

    .size5of5 {
        width: 100%;
    }

    .dpu-logo {
        margin: 2.5em 0 1.5em 0;
    }
}
